<div class="modal fade slide-up" id="branchModal" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" ng-click="$ctrl.resetForm(branchForm)" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h5 ng-if="$ctrl.mode==='Save'"><span class="semi-bold">{{'component.create-branch.text.adding_new_branch' | translate}}</span></h5>
                    <h5 ng-if="$ctrl.mode==='Update'"><span class="semi-bold">{{'component.create-branch.text.update_branch' | translate}}</span></h5>
                    <p></p>

                </div>
                <div class="modal-body">
                    <form role="form"  name="branchForm" ng-submit="$ctrl.onSubmit(branchForm)" accessible-form novalidate>
                        <div class="">
                            <div class="row">
                                <div class="col-md-6 m-b-10">
                                    <div class="form-group form-group-default"
                                         ng-class="{ 'has-error' : branchForm.branchName.$invalid && !branchForm.branchName.$pristine }">
                                        <label>{{'component.create-branch.field.branchName.label' | translate}}</label>
                                        <input ng-model="$ctrl.branch.branchName" name="branchName" id="branchName"
                                               placeholder="{{'component.create-branch.field.branchName.place_holder' | translate}}"
                                               type="text" class="form-control" required>
                                    </div>
                                    <div ng-messages="branchForm.branchName.$error">
                                    <span class="error" ng-message="required" ng-if="!branchForm.branchName.$pristine">
                                      {{'component.create-branch.field.branchName.required' | translate}}
                                    </span>
                                        <span class="error" ng-message="pattern">
                                        {{'component.create-branch.field.branchName.invalid' | translate}}
                                    </span>
                                    </div>
                                </div>
                                <div class="col-md-6 m-b-10">
                                    <div class="form-group form-group-default">
                                        <label>{{'component.create-branch.field.city.label' | translate}}</label>
                                        <input ng-model="$ctrl.branch.location.city" name="city"
                                               placeholder="{{'component.create-branch.field.city.place_holder' | translate}}"
                                               type="text" class="form-control" required>
                                    </div>

                                </div>

                                <div class="col-sm-12">
                                    <div pg-form-group class="form-group form-group-default no-margin required" ng-class="{ 'has-error' : branchForm.address.$invalid && !branchForm.address.$pristine }">
                                        <label>{{"component.create-branch.field.location.label" | translate }}</label>
                                        <div class="controls">
                                            <input places-auto-complete size=80
                                                   name="address"
                                                   id="location"
                                                   class="form-control"
                                                   component-restrictions="{country:'sa'}"
                                                   ng-model="$ctrl.branch.location.address"
                                                   types="{{$ctrl.types}}"
                                                   on-place-changed="$ctrl.placeChanged()" required/>
                                        </div>
                                    </div>
                                    <label class="error" for="address" ng-show="branchForm.address.$error.required && !branchForm.address.$pristine">
                                        {{"component.create-branch.field.location.required" | translate }}.
                                    </label>
                                    <div class="m-b-10" style="width:100%" map-lazy-load="{{$ctrl.googleMapsUrl}}">
                                        <ng-map ng-show="!$ctrl.profileIsloading"  id="map" zoom="11"
                                                center="{{$ctrl.branch.location.coordinates}}">
                                            <marker position="{{$ctrl.branch.location.coordinates}}"
                                                    title="Location"  animation="Animation.DROP"
                                                    on-dragend="$ctrl.markerDragEnd()"
                                                    draggable="true">
                                            </marker>

                                        </ng-map>
                                    </div>
                                </div>

                                <div class="col-md-4 offset-md-4 m-t-10 sm-m-t-10 text-center">
                                    <button type="submit" class="btn btn-primary btn-block m-t-5" ng-disabled="branchForm.$invalid">{{$ctrl.mode | translate}}</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>

